.file-icon.choir-icon {
  background: transparent url(../static/choir.png);
  background-size: 32px;
  margin-bottom: 6px;
}

.file-icon.terminal-icon {
  background: transparent url(../static/terminal.png);
  background-size: 32px;
  margin-bottom: 6px;
}

.file-icon.snake-icon {
  background: transparent url(../static/snake.png);
  background-size: 32px;
  margin-bottom: 6px;
}