.file {
  padding-top: 40px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: 10px;
  outline: 0;
  width: 120px;
  position: relative;
}
.file.archive, .file.folder {
  padding-top: 40px;
}

.file-icon {
  position: absolute;
  bottom: 25px;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  height: 32px;
  width: 32px;
}
.file-icon.folder-icon {
  background: transparent url(../static/dir.png);
}
.file-icon.archive-icon {
  background: transparent url(../static/archive.png);
}

.file-label {
  background-color: #fff;
  color: #000;
  display: inline;
  padding: 0 3px;
}

#folder-dnd,
#folder-work,
#archive1 {
  display: none;
  position: absolute;
  z-index: 2;
}

#folder-dnd {
  top: 4rem;
  right: 2rem;
}

#folder-work {
  top: 9rem;
  right: 2rem;
}

#archive1 {
  top: 5rem;
  right: 7rem;
}