.file {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
  outline: 0;
  width: 120px;
  position: relative;
}
.file.app {
  right: 0;
  bottom: 0;
  position: absolute;
  height: fit-content;
}

.file-icon {
  bottom: 10px;
  display: block;
  margin: 0 auto;
  height: 32px;
  width: 32px;
}
.file-icon.folder-icon {
  background: transparent url(../static/dir.png);
}
.file-icon.archive-icon {
  background: transparent url(../static/archive.png);
}


.file-label {
  background-color: #fff;
  color: #000;
  display: inline;
  padding: 0 .2rem;
  height: 1.25rem;
}

#folder-dnd,
#folder-work,
#archive1 {
  display: none;
  position: absolute;
  z-index: 2;
}

#folder-dnd {
  top: 4rem;
  right: 2rem;
}

#folder-work {
  top: 9rem;
  right: 2rem;
}

#archive1 {
  top: 5rem;
  right: 7rem;
}