.navbar {
  background-color: #fff;
  border-bottom: 1px solid #000;
  display: none;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 1.5rem;
}
.navbar div.item {
  position: relative;
  background-color: transparent;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
}
.navbar div.item button {
  background-color: transparent;
  color: inherit;
  border: none;
  font: inherit;
  padding: 0 0.5rem;
  height: 38px;
}
.navbar div.item .logo {
  position: relative;
  height: 38px;
  width: 48px;
}
.navbar div.item .logo::before {
  background: url(../static/tux.png);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 30px;
  width: 30px;
  filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}
.navbar div.item.active {
  position: relative;
  background-color: transparent;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  background-color: #fff;
  color: #000;
  background-color: #000;
  color: #fff;
}
.navbar div.item.active button {
  background-color: transparent;
  color: inherit;
  border: none;
  font: inherit;
  padding: 0 0.5rem;
  height: 38px;
}
.navbar div.item.active .logo {
  position: relative;
  height: 38px;
  width: 48px;
}
.navbar div.item.active .logo::before {
  background: url(../static/tux.png);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 30px;
  width: 30px;
  filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #fff);
}
.navbar .active button.logo {
  background-color: #000;
}
.navbar .active button.logo::before {
  filter: invert(100%);
}
.navbar.dark-mode {
  background-color: rgb(47, 47, 47);
  border-bottom: 1px solid #fff;
  color: #fff;
}
.navbar.dark-mode .active button.logo {
  background-color: #fff;
}
.navbar.dark-mode .active button.logo::before {
  filter: invert(100%);
}
.navbar.dark-mode div.item.active {
  position: relative;
  background-color: transparent;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
  background-color: #fff;
  color: #000;
}
.navbar.dark-mode div.item.active button {
  background-color: transparent;
  color: inherit;
  border: none;
  font: inherit;
  padding: 0 0.5rem;
  height: 38px;
}
.navbar.dark-mode div.item.active .logo {
  position: relative;
  height: 38px;
  width: 48px;
}
.navbar.dark-mode div.item.active .logo::before {
  background: url(../static/tux.png);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 30px;
  width: 30px;
  filter: drop-shadow(0 0 5px #fff);
  filter: drop-shadow(0 0 5px #000);
}
.navbar.active .item {
  position: relative;
  background-color: transparent;
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
}
.navbar.active .item button {
  background-color: transparent;
  color: inherit;
  border: none;
  font: inherit;
  padding: 0 0.5rem;
  height: 38px;
}
.navbar.active .item .logo {
  position: relative;
  height: 38px;
  width: 48px;
}
.navbar.active .item .logo::before {
  background: url(../static/tux.png);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  height: 30px;
  width: 30px;
  filter: drop-shadow(0 0 5px #000);
  filter: drop-shadow(0 0 5px #000);
}
.navbar:not(.navbar li) {
  font-weight: bold;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.navbar-left .d-flex > .item:nth-of-type(1) {
  margin-top: 2px;
}

.navbar-right {
  padding-right: 0.5rem;
}
.navbar-right .d-flex > .item:first-of-type {
  margin-right: 1rem;
}

.drop {
  background-color: #fff;
  border: 1px solid #000;
  border-top: none;
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  width: 180px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  font-weight: normal;
  z-index: 3;
}
.drop li {
  display: block;
  border-bottom: 1px #000;
}
.drop li a {
  color: #333;
  padding-left: 0.5rem;
}
.drop li a[disabled] {
  color: #999;
}
.drop li:hover {
  background-color: #000;
}
.drop li:hover a {
  color: #fff;
}
.drop.dark-mode {
  background-color: rgb(47, 47, 47);
  border: 1px solid #fff;
  color: #fff;
}
.drop.dark-mode li {
  display: block;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.drop.dark-mode li:hover {
  color: #000;
  background-color: #fff;
}
.drop.dark-mode li:hover a {
  color: #000;
}
.drop.dark-mode li a {
  color: #fff;
}
.drop.dark-mode li a[disabled] {
  color: #333;
}

@media screen and (max-width: 450px) {
  .navbar-right .d-flex > .item:first-of-type {
    margin-right: 0.5rem;
  }
  #date {
    display: none;
  }
}/*# sourceMappingURL=navbar.css.map */