.navbar {
  background-color: #fff;
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.drop {
  background-color: #fff;
  border: 1px solid black;
  border-top: none;
  position: absolute;
  left: 0;
  top: calc(100% + 1px);
  width: 160px;
  margin: 0;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  list-style: none;
}

.drop li a {
  display: block;
  color: black;
}
.drop li a[disabled] {
  color: #999;
}
.drop li a:hover {
  background-color: #000;
  color: #fff;
}

.navbar .active button.logo {
  background-color: #000;
}
.navbar .active button.logo::before {
  filter: invert();
}

.navbar div.active {
  background-color: black;
  color: white;
} 

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

.navbar .item {
  position: relative;
}

.navbar .item button {
  background-color: #fff;
  border: none;
  font: inherit;
  padding: 7px 10px;
  height: 38px;
}

.navbar .item .logo {
  position: relative;
  height: 38px;
  width: 48px;
}

.navbar .item .logo::before {
  background: url(../static/tux.png);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
}