.window-terminal {
  width: 430px;
  height: 360px;
  font-size: 100%;
  z-index: 3;
}

.terminal-body {
  background-color: black;
  color: lightgreen;
  height: 100%;
  width: 100%;
  font-family: var(--font-main);
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.terminal-output {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100% - 26px);
  justify-content: flex-end;
  flex-grow: 1;
  margin-bottom: 45px;
  overflow-y: scroll;
}

.terminal-input-wrapper {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.terminal-input {
  all: unset;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  height: 20px;
  margin: 0 0 0 0.5rem;
  background: transparent;
  font-family: var(--font-main);
  color: #fff;
  font-size: 100%;
  caret-color: #90ee90;
}

.terminal-log-element pre {
  display: inline;
  font-family: "VT323", monospace;
}

.terminal-log-element span:nth-of-type(2) {
  color: #fff;
  margin-left: 0.6rem;
}